
* {
    box-sizing: border-box;
  }
body{
    text-align: center; 
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 4rem;
}

#fistDiv{
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: center;
    
}
.ticTic{
    
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: center;
    font-size: 3rem;
    color: chartreuse;
}
#board{
    border: 8px solid #659DF7;
    margin: 0 auto;
    width: 190px;
    height: 190px; 
    border-radius: 10px;
    padding: 0;
    background-color: black;
    justify-items: center;
    margin-top: 70px;
}

navBar p {
    margin-left: 50px;
    display: inline; 
    font-size: 2rem;
    padding: 10px;
    background-color: cyan;
    border-radius: 20px;
   
}

#winner, #resset{
    visibility: hidden;  
}

p:hover{
    opacity: 0.5;
    
}



#winner{
    font-size: 3rem;
    border-radius: 20px;
    padding: 10px;
    background-color: darkgreen;
    width: 40%;
    margin: 20px auto;
}

.id1, .id2, .id3,.id4, .id5, .id6, .id7, .id8, .id9{
    min-height: 50px;
    min-width: 50px;
    border: 2px solid #659DF7;
}

.id1, .id4, .id7{
    text-align: center;
    border-left: 0;
    border-right: 0;
}
.id3, .id6, .id9{
    border-right: 0;
    border-left: 0;
}
.id7, .id8, .id9{
    border-bottom: 0;
    border-top: 0;
}
.id1, .id2, .id3{
    border-top: 0; 
    border-bottom: 0; 
    }


